/* id选择器 #id名字 */
#divTest {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

#only {
    width: 100px;
    background-color: red;
}

.demo {
    width: 100px;
    background-color: red;
}

.demo1 {
    border-radius: 50%;
}
/* 父子选择器，只有div里面的span才会修饰 
加了 >  表示直接子元素选择器
不加 >  表示所有的子元素都作用
*/
div > span{
    border-radius: 50%;
    background-color: green;
}