/* id选择器 #id名字 */
#divTest {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

#only {
    width: 100px;
    background-color: red;
}

.demo {
    width: 100px;
    background-color: red;
}

.demo1 {
    border-radius: 50%;
}
/* 父子选择器，只有div里面的span才会修饰 
加了 >  表示直接子元素选择器
不加 >  表示所有的子元素都作用
*/
div > span{
    border-radius: 60%;
    background-color: #ff4400;
    border: 10px solid green ; /* 复合属性*/
}
#text {
    padding: 10px;
    text-align: left;
    width: 50%;
    text-indent: 2em;
}

#boxmode {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 10px solid;
    padding: 100px;
}